# Numpy Functions

- Numpy contains a large number of various mathematical functions
    - Trigonometric
    - Arithmetic
    - Exponential, complex number handling etc.

In [1]:
import numpy as np

## Arithmetic Functions:

In [3]:
# Addition
a = [1,2,3,44,5]
b = [4,5,6,7,8]

c = a+b
c    # lists get concatenated

[1, 2, 3, 44, 5, 4, 5, 6, 7, 8]

In [4]:
c = []
for i,j in zip(a,b):
    c.append(i+j)
    
c

[5, 7, 9, 51, 13]

In [5]:
# addition using numpy

ara = np.array(a)
arb = np.array(b)
arc = ara + arb
arc

array([ 5,  7,  9, 51, 13])

In [6]:
# a*b gives error

In [7]:
# multiplication
ara*arb

array([  4,  10,  18, 308,  40])

In [8]:
list(ara*arb)

[4, 10, 18, 308, 40]

In [9]:
# a/b gives error

In [10]:
# division
ara/arb

array([0.25      , 0.4       , 0.5       , 6.28571429, 0.625     ])

In [11]:
# a**b gives error

In [15]:
# power function
ara**arb

array([         1,         32,        729, 1450229760,     390625],
      dtype=int32)

In [16]:
ara

array([ 1,  2,  3, 44,  5])

In [17]:
arb

array([4, 5, 6, 7, 8])

## operation on arrays of different shapes will always give error

In [19]:
ard = np.array([1,2,3])

In [20]:
# ara*ard will give error

In [21]:
ara*2

array([ 2,  4,  6, 88, 10])

In [22]:
# Quotient
34//2

17

In [23]:
35//2

17

In [24]:
ara

array([ 1,  2,  3, 44,  5])

In [26]:
ara//2    # gives quotient on array with 2

array([ 0,  1,  1, 22,  2], dtype=int32)

In [28]:
ara%2    # gives remainder array

array([1, 0, 1, 0, 1], dtype=int32)

In [29]:
# a//2 error
# a%2 error

In [30]:
# absolute values

ar = np.array([-1,5,-6,-90,345,-76])
np.abs(ar)

array([  1,   5,   6,  90, 345,  76])

In [31]:
ara

array([ 1,  2,  3, 44,  5])

In [33]:
# square root
np.sqrt(144)

12.0

In [34]:
np.sqrt([1,9,27,65])

array([1.        , 3.        , 5.19615242, 8.06225775])

In [35]:
np.sqrt(ara)

array([1.        , 1.41421356, 1.73205081, 6.63324958, 2.23606798])